<div class="blue-background">
    <div class="books-container">
        <div class="books"></div>
    </div>

    <div class="arrow-left-container">
        <div class="arrow-left"></div>
    </div>

    <div class="add-aluno-titulo-container">
        <p class="add-aluno-text">
            Adicione um novo aluno
        </p>
    </div>
</div>

<div class="form-add-aluno-container">
    <div class="form-add-aluno">

        <div class="aluno-inputs-container">
                <input type="text" class="aluno-nome" placeholder="Nome do aluno">
                <input type="text" class="aluno-ra" placeholder="Número do RA">
                <select class="aluno-turma" placeholder="Turma">
                        <option hidden>Selecione uma turma</option>
                        <option>Projeto Interdisciplinar 3B - SIN3BN-MCA1</option>
                        <option>Segurança e Auditoria - SIN3BN-MCA</option>
                        <option>Sistemas Operacionais - CCP3BN-MCA</option>
                </select>
        </div>
        
    </div>
</div>